* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
}
body a, p, h1, h2, h3 {
    color: white;
    font-size: 25px;
}
button{
    border-radius: 15px;
    color: white;
    background-color: teal;
    font-size: 20px;
    padding: 10px;
    width: 110px;
    margin: 0 15px;
 }